@page "/"
@rendermode InteractiveServer

@using Luval.AuthMate.Blazor

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

<br />
<AuthMateGoogleLoginButton />